<!DOCTYPE html>
<html lang="en">
<headert
    <nav>
        <ul class="nav nav-pills">
            <li class="nav_item"><a href="{{ url_for('index') }}" class="nav-link {%if index %} active {% endif %}">Home</a></li>
            <li class="nav_item"><a href="{{ url_for('courses') }}" class="nav-link {%if courses %} active {% endif %}">Courses</a></li>
            <li class="nav_item"><a href="{{ url_for('enrolment') }}" class="nav-link {%if enrolment %} active {% endif %}">Enrolment</a></li>
            <li class="nav_item"><a href="{{ url_for('login') }}" class="nav-link {%if login %} active {% endif %}">Login</a></li>
        </ul></nav>
    <hr style="clear:both">
</header>

<body>
</body>
</html>
