    {% extends "layout.html" %}
    {% block content %}
    <h1>Calculator</h1>
    <form name="Calculator" action="{{url_for('calculator')}}" method="post" novalidate>
        {{form.hidden_tag()}}
        <br>
        <p>
            {{form.num1.label}}<br>
            {{form.num1(size=35)}}
        </p>
        <p>
            {{form.num2.label}}<br>
            {{form.num2(size=35)}}
        </p>


        <input class="btn-submit btn-calc" type="submit" name="add" value="Add">
        <input class="btn-submit btn-calc" type="submit" name="subtract" value="Subtract">
        <input class="btn-submit btn-calc" type="submit" name="divide" value="Divide">
        <input class="btn-submit btn-calc" type="submit" name="multiply" value="Multiply">
        <input class="btn-submit btn-calc" type="submit" name="mod" value="Modulus">



<!--            <option value="+" class="btn=submit">Addition</option>-->
<!--            <option value="-" class="btn=submit">Subtraction</option>-->
<!--            <option value="/" class="btn=submit">Division</option>-->
<!--            <option value="*" class="btn=submit">Multiplication</option>-->
<!--            <option value="%" class="btn=submit">Modulus</option>-->
        <br>
        <br>
        <h4>Answer:</h4>
        {{result}}



    {% endblock %}

